/*
	Google Fonts

    font-family: 'M PLUS Rounded 1c', sans-serif;

    font-family: 'Varela Round', sans-serif;

    font-family: 'Titillium Web', sans-serif;

    font-family: 'Nunito', sans-serif;

    font-family: 'Quicksand', sans-serif;

*/

*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: white;
}
body{
	background-color: #212121;
	font-family: 'Nunito', sans-serif;
}
h1,h2,h3{
	font-family: 'Titillium Web', sans-serif;
}
section p{
	text-indent: 5%;
	text-align: justify;
}
header{
	height: 100px;
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1%;
}
header p{
	color: white;
	padding-top: 1%;
}
header a:hover{
	text-decoration: none;
}

.subhead{
	width: 25%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
	#logo{
		width: 25%;
		height: auto;
	}
.navbar{
	width: 25%;
	display: flex;
	justify-content: space-around;
}
	.navbar a, section a{
		text-decoration: none;
		color: white;
	}
	.navbar a:hover, .navbar a:focus, section a:hover{
		color: #FF7E38;
		border-bottom-color: orange;
		border-left-color: orange;
	}
section a{
	font-weight: 700;
}
section	li{
	list-style:none
}
.pad2t{
	padding-top: 2%;
}
hr{border-color: #ff9a00;}
small{
	color: #ff9a00;
}
.work{
	padding: 5%;
	background-color: #323232;
}
.icono{
	color: #ff9a00;
}

.rsp{
	display: none;
}
.colu{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.avatar{
	border-radius: 50%;
	margin-top: -130px;
}
section h5{
	color: rgba(255,255,255,0.65);
}
@media only screen and (min-width: 800px) {
	.rsp{
		display: block;
	}
	.navbar{
		display: none;
	}
	.drp{
		background-color: #212121;
		border-color: #212121;
	}
	#logo {
    width: 50%;
	}
	.icono_rsp{
		font-size: 1.5em;
	}	
}
@media only screen and (min-width: 800px) {
	.avatar{
		margin-top: -90px;
		width: 50%;
	}	
}


/* Override Bootstrap */
.dropdown-menu.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #212121;
    border-color: #212121;
}
.btn-secondary:hover, .btn-secondary:focus {
    background-color: #262626;
    border-color: #262626;
}

.dropdown-menu.show a{
	color: rgba(255, 255, 255, .7);
}
.dropdown-menu.show a:hover{
	color: rgba(255, 255, 255, 1);
}